*{
    padding: 0;
    margin: 0;
}

.showcase{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color:hsl(220, 15%, 55%)
  }

.showcase .main{
    width: 300px;
    height: 500px;
    border-radius: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
}

 .main img{
    border-radius: 20px;
    width: 250px;
}

.showcase .main h2{
    text-align: center;
    width: 150px;
    margin: 10px;
    font-size: 15px;
    color:hsl(218, 44%, 22%);
}

.showcase .main p{
    color:  hsl(137, 3%, 44%);
    font-size: 15px;
    text-align: center;
    width: 200px;
}